---
import { Image } from "astro:assets";

import bitbucket from "@assets/icons/bitbucket-original.svg"
import c from "@assets/icons/c-original.svg"
import cpp from "@assets/icons/cplusplus-original.svg"
import csharp from "@assets/icons/csharp-original.svg"
import css from "@assets/icons/css3-original.svg"
import git from "@assets/icons/git-original.svg"
import html from "@assets/icons/html5-original.svg"
import js from "@assets/icons/javascript-original.svg"
import next from "@assets/icons/nextjs-original.svg"
import nixos from "@assets/icons/nixos-original.svg"
import react from "@assets/icons/react-original.svg"
import ts from "@assets/icons/typescript-original.svg"
---

<div class="flex gap-1 m-2 mx-auto">
    <Image
        loading="eager"
        width="46"
        height="46"
        alt="BitBucket"
        src={bitbucket}
    />
    <Image
        loading="eager"
        width="46"
        height="46"
        alt="C"
        src={c}
    />
    <Image
        loading="eager"
        width="46"
        height="46"
        alt="C Plus Plus"
        src={cpp}
    />
    <Image
        loading="eager"
        width="46"
        height="46"
        alt="C#"
        src={csharp}
    />
    <Image
        loading="eager"
        width="46"
        height="46"
        alt="CSS"
        src={css}
    />
    <Image
        loading="eager"
        width="46"
        height="46"
        alt="Git"
        src={git}
    />
    <Image
        loading="eager"
        width="46"
        height="46"
        alt="HTML"
        src={html}
    />
    <Image
        loading="eager"
        width="46"
        height="46"
        alt="JavaScript"
        src={js}
    />
    <Image
        loading="eager"
        width="46"
        height="46"
        alt="Next JS"
        src={next}
    />
    <Image
        loading="eager"
        width="46"
        height="46"
        alt="NixOS"
        src={nixos}
    />
    <Image
        loading="eager"
        width="46"
        height="46"
        alt="React JS"
        src={react}
    />
    <Image
        loading="eager"
        width="46"
        height="46"
        alt="TypeScript"
        src={ts}
    />
</div>