---
import { Image } from "astro:assets";
import BaseLayout from "./Layout.astro";
import InfoCard from "@components/InfoCard.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout
  pageTitle={frontmatter.title}
  description={frontmatter.description}
  ogImg={frontmatter.image.url}
>
  <div
    class="font-serif text-lg sm:text-xl md:text-2xl lg:text-3xl 2xl:text-4xl 3xl:text-5xl flex flex-col gap-3 w-fit mx-auto"
  >
    <div
      class="flex flex-col sm:flex-row bg-milky-50 border-milky-100 border p-2 rounded-md gap-2"
    >
      <Image
        inferSize
        alt={frontmatter.image.alt}
        src={frontmatter.image.url}
        loading="eager"
        class="font-bold 3xl:text-7xl m-auto font-sans rounded-md border-milky-100 border size-1/2"
        >{frontmatter.title}</Image
      >

      <div class="m-auto">
        <h2 class="font-bold text-5xl 3xl:text-7xl p-5 font-sans">
          {frontmatter.title}
        </h2>
        <InfoCard
          platform={frontmatter.platform}
          stack={frontmatter.stack}
          github={frontmatter.github}
        />
      </div>
    </div>

    <div
      class="bg-obsidian bg-[64px] bg-repeat m-auto border rounded-md grid gap-3 py-5 w-full"
    >
      <div
        class="prose lg:prose-xl 2xl:prose-xl 3xl:prose-2xl mx-auto text-justify prose-invert"
      >
        <slot />
      </div>

      <div class="grid">
        <InfoCard
          platform={frontmatter.platform}
          stack={frontmatter.stack}
          github={frontmatter.github}
        />
        <div class="mx-auto grid grid-cols-2 gap-5 p-5">
          <Image
            class="size-full rounded-md"
            width="500"
            height="281"
            src={frontmatter.worksImage1.url}
            alt={frontmatter.worksImage1.alt}
          />
          <Image
            class="size-full rounded-md"
            width="500"
            height="281"
            src={frontmatter.worksImage2.url}
            alt={frontmatter.worksImage2.alt}
          />
        </div>
        <p class="text-xs">
          I have no affiliation with mojang or minecraft or microsoft, just like
          how the block looks
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
