---
import { Image } from "astro:assets";
import BaseLayout from "./Layout.astro";
import InfoCard from "@components/InfoCard.astro";
import Button from "@components/Button.astro";
import { Icon } from "astro-icon/components";
const { frontmatter } = Astro.props;
---

<BaseLayout
  pageTitle={frontmatter.title}
  description={frontmatter.description}
  ogImg={frontmatter.image.url}
>
  <div
    class="font-serif text-lg sm:text-xl md:text-2xl lg:text-3xl 2xl:text-4xl 3xl:text-5xl flex flex-col gap-3 w-fit mx-auto"
  >
    <div
      class="flex flex-col sm:flex-row bg-milky-50 border-milky-100 border p-2 rounded-md gap-2"
    >
      <Image
        loading="eager"
        width="1920"
        height="1080"
        densities={[0.25, 0.5, 1.0, 1.5, 2.0]}
        alt={frontmatter.image.alt}
        src={frontmatter.image.url}
        class="font-bold 3xl:text-7xl m-auto font-sans rounded-md border-milky-100 border size-1/2"
        >{frontmatter.title}</Image
      >

      <div class="m-auto flex flex-col gap-3">
        <h2
          class="font-bold text-xl sm:text-2xl md:text-3xl lg:text-4xl 3xl:text-6xl"
        >
          {frontmatter.title}
        </h2>

        {
          frontmatter.subtitle ? (
            <h2 class="font-bold text-xl sm:text-2xl md:text-3xl lg:text-4xl 3xl:text-6xl">
              {frontmatter.subtitle ?? " "}
            </h2>
          ) : null
        }

        <InfoCard
          platform={frontmatter.platform}
          stack={frontmatter.stack}
          github={frontmatter.github}
        />
      </div>
    </div>

    <div
      class="mx-auto rounded-md grid gap-5 p-3 w-fit border border-milky-400 backdrop-blur-lg"
    >
      <div
        class="prose lg:prose-xl 2xl:prose-xl 3xl:prose-2xl mx-auto text-justify prose-invert p-4"
      >
        <slot />
      </div>

      <div class="grid gap-2">
        <div class="w-1/2 justify-between flex mx-auto size-full pb-2">
          {
            frontmatter.prev ? (
              <Button href={frontmatter.prev || undefined}>
                <Icon name="Arrow_Left" slot="before" />
                Previous
              </Button>
            ) : undefined
          }
          {
            frontmatter.next ? (
              <Button href={frontmatter.next || undefined}>
                <Icon name="Arrow" slot="after" />
                <p class="px-5 mx-auto">Next</p>
              </Button>
            ) : undefined
          }
        </div>
        <InfoCard
          platform={frontmatter.platform}
          stack={frontmatter.stack}
          github={frontmatter.github}
        />
        <div class="mx-auto grid grid-cols-2 gap-5 p-5">
          <Image
            loading="lazy"
            densities={[0.5, 1.0, 1.5, 2.0]}
            class="size-full rounded-md"
            width="500"
            height="281"
            src={frontmatter.worksImage1.url}
            alt={frontmatter.worksImage1.alt}
          />
          <Image
            loading="lazy"
            densities={[0.5, 1.0, 1.5, 2.0]}
            class="size-full rounded-md"
            width="500"
            height="281"
            src={frontmatter.worksImage2.url}
            alt={frontmatter.worksImage2.alt}
          />
        </div>
        <p class="text-xs">
          I have no affiliation with mojang or minecraft or microsoft, just like
          how the block looks
        </p>
      </div>
    </div>
  </div>
</BaseLayout>
